.hyperlink {
    font: inherit;
    &, &:visited {
        color: var(--AccentTextFillColorPrimary);
    }

    &:hover:not([disabled]) {
        color: var(--AccentTextFillColorSecondary);
        text-decoration: none;
    }
    &:active:not([disabled]) {
        color: var(--AccentTextFillColorTertiary);
        text-decoration: none;
    }
    // hyperlink doesn't technically support a disabled state, so we can't use :disabled
    &[disabled] {
        color: var(--AccentTextFillColorDisabled);
        cursor: default;
    }
}