.smoke_layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--SmokeFillColorDefault);
}

.dialog_box {
    border: 1px solid;
    border-color: var(--SurfaceStrokeColorDefault);
    background-color: var(--LayerFillColorAlt);
    box-shadow: var(--elevation128);
    border-radius: var(--borderRadiusLarge);
    max-width: 540px;
    max-height: 288px;
    min-width: 320px;
    min-height: 188px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    font: var(--fontBody);
    padding: 24px;
    box-sizing: border-box;
    max-height: 208px;
    overflow: hidden;

    p {
        margin: 0;
        padding: 0 0 20px 0;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

.title {
    font: var(--fontSubtitle);
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

.button_container {
    background-color: var(--SolidBackgroundFillColorBase);
    padding: 24px;
    border-top: 1px solid;
    border-color: var(--CardStrokeColorDefault);
    display: grid;
    grid-auto-flow: column;
    grid-gap: 12px;
}